.loader {
  color: #1129c2;
  // height: 190px;
  // width: 190px;

  font-size: 70px;
  padding: 10px;
}

@keyframes rotationCycle {
  0% {
    transform: rotate(-90deg) scale(0);
  }
  40% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(90deg) scale(0);
  }
}

.loader {
  animation-name: rotationCycle;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.loader:nth-child(3) {
  font-size: 100px;
}

.loader__container {
  margin: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__container img {
  display: block;
  height: 100px;
  filter: invert(18%) sepia(100%) saturate(3009%) hue-rotate(225deg) brightness(77%) contrast(97%);
}
