@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&family=Nunito:wght@400;500;700&family=Poppins:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&family=Nunito:wght@400;500;700&family=Poppins:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Nunito', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: -webkit-linear-gradient(118deg, #1c0aa4, #000000, #0ba842) no-repeat;
  flex-grow: 1;
}
.main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  height: 50px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.header {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  position: sticky;
}

.header__logo {
  display: block;
  height: 20px;
  background-image: url(https://wallpaperaccess.com/full/7762898.jpg);
}

.form {
  position: relative;
}

.search_container {
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  float: left;
  // background-repeat: no-repeat;
  // background-color: transparent;
  // border: none;
  // position: absolute;
  // top: calc(50% - 10px);
  // left: 10px;
  color: #fff;
}

// .form__search-icon {
//   display: inline-block;
//   background-image: url(../public/images/icons8-search-50.svg);
//   height: 20px;
//   width: 20px;
// }

.form__input {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  color: #fff;
}
.form__input:focus {
  outline: none;
}

.form__input::placeholder {
  color: #fff;
}

.header__list {
  display: flex;
  list-style-type: none;
  gap: 40px;
  padding: 0;
}
.header__link {
  color: #fff;
  text-decoration: none;
}

.header__button {
  width: 155px;
  height: 50px;
  margin: 20px;
  position: relative;
  color: #fff;
}
.header__button a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  color: #fff;
  z-index: 1;
  font-weight: 400;
  text-decoration: none;
  overflow: hidden;
  transition: 0.3s;
  backdrop-filter: blur(15px);
}

.header__button:hover a {
  color: #fff;
}

.header__button a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translatex(0);
  transition: 0.3s;
}

.header__button:hover a::before {
  transform: skewX(45deg) translatex(200%);
}

.header__button::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.3s;
  transition-delay: 0s;
}

.header__button:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.1s;
  transition: 0.3s;
}

.header__button::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.3s;
  transition-delay: 0.1s;
}

.header__button:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0s;
}

.header__button::before,
.header__button::after {
  background: #1f3dff;
  box-shadow: 0 0 5px #1f3dff, 0 0 15px #1f3dff, 0 0 30px #1f3dff, 0 0 60px #1f3dff;
}

.header__button:nth-child(2)::before,
.header__button:nth-child(2)::after {
  background: #2bd2ff;
  box-shadow: 0 0 5px #2bd2ff, 0 0 15px #2bd2ff, 0 0 30px #2bd2ff, 0 0 60px #2bd2ff;
}

.xbox::before,
.xbox::after {
  background: #1eff45;
  box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45, 0 0 60px #1eff45;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 900px;
  max-width: 1200px;
  flex-wrap: wrap;
  flex-grow: 1;
  color: #fff;
}

.container .card {
  position: relative;
  width: 280px;
  height: 350px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background-repeat: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 15px;
}

.game__img {
  display: block;
  height: 250px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 30px;
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 0.65);
  width: 100%;
  left: 0;
  height: 100%;
  z-index: 1;
  height: 100%;
}

.cart {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35vw;
  height: 100%;
  right: 0;
  z-index: 1;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.close__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  right: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.cart__content {
  margin-bottom: 15px;
  overflow-y: scroll;
}

.cart__content::-webkit-scrollbar {
  display: none;
}

.cart__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 10px;
  padding-bottom: 10px;
}

.cart__content p {
  margin: 0;
}

.cart__img {
  display: block;
  height: 150px;
  // padding: 15px;
  border-radius: 5px;
}

.close_img {
  height: 25px;
  margin: 10px 0px 5px 10px;
  background-image: url(../images/right-to-bracket-solid.svg);
  background-repeat: no-repeat;
  position: relative;
  height: 25px;
  width: 25px;
  border: none;
  background-color: transparent;
}

.trash_img {
  height: 25px;
  // padding-right: 5px;
  background-image: url(../images/trash-can-solid.svg);
  background-repeat: no-repeat;
  position: relative;
  height: 25px;
  width: 25px;
  border: none;
  background-color: transparent;
}
.cart__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 10px 10px;
}

.quantity__block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.button__counter {
  position: relative;
  height: 20px;
  width: 20px;
  border: none;
  background-color: transparent;
}

.minus {
  background-image: url(../images/minus-solid.svg);
  background-repeat: no-repeat;
  color: #fff;
}

.plus {
  background-image: url(../images/plus-solid.svg);
  background-repeat: no-repeat;
  color: #fff;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box__container {
  position: relative;
  width: 400px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.box__form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.box__form h2 {
  position: relative;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.box__form .inputBox {
  width: 100%;
  margin-top: 20px;
}

.box__form .inputBox input {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.box__form .inputBox input::placeholder {
  color: #fff;
}
.box__form .inputBox input[type='submit'] {
  background: #fff;
  color: #666;
  max-width: 100px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600px;
}

.pagination__ul {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.pagination__link {
  position: relative;
  // font-weight: bold;
  text-decoration: none;
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.pagination__item {
  position: relative;
  list-style: none;
}

.pagination__item::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background: -webkit-linear-gradient(118deg, #1c0aa4, #000000, #0ba842) no-repeat;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.active::before {
  opacity: 1;
}
.pagination__link:hover {
  color: #fff;
}

.pagination__item:hover::before {
  opacity: 0.7;
}
